<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            text-decoration: none;

        }
        center{
            margin: 100px auto;
        }
    </style>
</head>
<body>
    <center class="container">
        <table border="2px sold">
            <tr>
                <td><label for="">Username:</label></td>
                <td><input type="text" placeholder="Enter username"></label></td>

            </tr>
            <tr>
                <td><label for="">password:</label></td>
                <td><input type="password"></td>
            </tr>
            <tr align="center">
                <td colspan="2"><button>Login</button></td>
            
            </tr>
            <tr>
                <td colspan="2"><a href="{% url 'registration' %}">click here to go to registration page</a></td>
            </tr>
        </table>
        

    </center>
</body>
</html>